<div class="container">
  <div class="row">
    <div class="col-8">
      <form class="form-inline" ng-submit="$ctrl.getMovies(ctrl.searchMovie)">
        <input class="form-control mr-sm-2" type="search" ng-model="ctrl.searchMovie" name="searchMovie" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">trouver un film</button>
      </form>
    </div>
  </div>
  <div class="movies">
    <div class="row my-3" ng-repeat="movie in $ctrl.movies">
      <div class="col-6">
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">
      </div>
      <div class="col-6">
        <h2>{{movie.title}}</h2>
        <p>date de sortie : {{movie.release_date}}</p>
        <p>genre : {{movie.genre_ids}}</p>
        <p>résumé : </p>
        <p>{{movie.overview}}</p>
        <input type="text" type="number" name="id" ng-model="id" value="{{movie.id}}">
        <button class="btn btn-secondary" ng-click="$ctrl.displayDetails(id)">voir plus d'information</button>
        <button class="btn btn-success">Ajouter à ma liste</button>
      </div>
      <hr>
    </div>
  </div>
</div>