<nav-app></nav-app>
<header>
  <div class="container-fluid">
    <div class="jumbotron bg">
      <h1>Bienvenue</h1>
    </div>
  </div>
</header>
<div class="container-fluid mb-3">
  <search></search>
</div>
</div>
<div class="container-fluid">
  <h2>Nos films les plus populaires</h2>
  <div class="row">
    <div class="col-3 mb-3 mt-2" ng-repeat="movie in $ctrl.popularMovies">
      <div>
        <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" class="img-fluid img-picture" alt="{{movie.title}}">
        <h3>{{movie.title}}</h3>
        <p>note du public : {{movie.vote_average}}</p>
        <button class="btn btn-outline-success" ng-click="$ctrl.displayDetails(movie.id)">en savoir plus</button>
      </div>
    </div>
  </div>
  <details></details>
</div>